.titleContainer {
  background-color: #fff;
  display: flex;
  justify-content: row;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 36px;
  border-bottom: 1px solid #4a4a4a;
  position: sticky;
  top: 0;
}

.title {
  margin-left: 12px;
}

.appActionWrapper {
  padding-bottom: 48px;
}

.appActionWrapper:not(:last-child) {
  margin-bottom: 42px;
  border-bottom: 1px solid #e5e5e5;
}
