.urlContainer {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 12px 24px;
  position: relative;
}

.urlParamWrapper {
  padding-left: 24px;
}

.title {
  margin-bottom: 3px;
}

.description {
  margin-bottom: 18px;
}

.copyButton {
  border: 0;
  padding: 0;
  background: transparent url(../images/copy-icon.png) no-repeat center center;
  background-size: 50%;
  text-indent: -999em;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.copyButton:hover,
.copyButton:focus {
  opacity: 1;
}

@media (max-width: 650px) {
  .urlContainer {
    padding: 12px;
  }

  .urlParamWrapper {
    padding-left: 12px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .copyButton {
    background-image: url(../images/copy-icon@2x.png);
  }
}
