.titleContainer {
  display: flex;
  justify-content: row;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 36px;
  margin-bottom: 36px;
  border-bottom: 1px solid #4a4a4a
}

.title {
  margin-left: 12px;
}

.appActionWrapper {
  padding-bottom: 48px;
}

.appActionWrapper:not(:last-child) {
  margin-bottom: 42px;
  border-bottom: 1px solid #e5e5e5;
}
