.innerContainer {
  background-color: #4a4a4a;
  padding: 42px 0;
}

.appsContainer {
  display: flex;
  flex-wrap: wrap;
}

.app {
  display: block;
  margin-right: 24px;
  margin-bottom: 36px;
  text-decoration: none;
}

.jumpToAppText {
  color: #fff;
  margin-bottom: 24px;
}

.appTitle {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 12px;
}

.backToTop {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  position: fixed;
  z-index: 1;
  right: 12px;
  bottom: 12px;
}

@media (max-width: 500px) {
  .innerContainer {
    padding: 24px 0;
  }

  .app {
    margin-right: 12px;
    margin-bottom: 18px;
  }

  .appTitle {
    font-size: 0.625rem;
  }
}
